{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Classify Rice</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/sidebars.css' %}" />
    <script src="{% static 'js/bootstrap.bundle.min.js'%}"></script>

    <style>
        body {
            background: linear-gradient(to right, #329CCE, rgb(189, 185, 104));
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
    </style>
</head>

<body>
    <header class="p-3 mb-3 border-bottom header">
        <div class="container-fluid d-grid gap-3 d-flex flex-wrap align-items-center justify-content-center"
            style="grid-template-columns: 1fr 2fr;">
            <p class="nav col-12 col-lg-auto me-lg-auto mb-2 mb-lg-0 justify-content-center mb-md-0 nav-link px-2 link-body-emphasis centeredp"
                style="color: #CFE3EB !important; padding-left:50px !important;font-size: 20px !important;">
                Garments Worker Productivity
            </p>

            <div class="dropdown text-end">
                <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle"
                    data-bs-toggle="dropdown" aria-expanded="false" style="color: #CFE3EB !important; font-size: 20px;">
                    <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
                    User Profile
                </a>
                <ul class="dropdown-menu text-small">
                    <li><a class="dropdown-item" href="{% url 'home_class' %}">Classification</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="{% url 'logout' %}" id="logout">Sign out</a></li>
                </ul>
            </div>

        </div>
        </div>
    </header>

    <nav class="col-3">
        <button class="btn btn-toggle" type="button" aria-expanded="false" style="color: #333 !important;">
            <span class="material-symbols-outlined">menu</span>
        </button>

        <div class="d-flex flex-column flex-shrink-0 p-3 sidebar" style="width: 280px;">

            <ul class="nav nav-pills flex-column mb-auto items">
                <li class="nav-item" style="margin-top: 30% !important;">
                    <a href="{% url 'home_reg' %}" class="nav-link" aria-current="page"
                        style="font-family: 'Poppins' !important;color: #333 !important;">
                        <span class="material-symbols-outlined icon">
                            home
                        </span>
                        Home
                    </a>
                </li>
                <li>
                    <a href="{% url 'eda_reg' %}" class="nav-link text-white"
                        style="font-family: 'Poppins' !important;color: #333 !important;">
                        <span class="material-symbols-outlined icon">
                            monitoring</span>
                        EDA
                    </a>
                </li>
                <li>
                    <a href="{% url 'train_reg' %}" class="nav-link text-white"
                        style="font-family: 'Poppins' !important;color: #333 !important;">
                        <span class="material-symbols-outlined icon">
                            model_training</span>
                        Train
                    </a>
                </li>
                <li>
                    <a href="{% url 'predict_reg' %}" class="nav-link text-white"
                        style="font-family: 'Poppins' !important;color: #333 !important;">
                        <span class="material-symbols-outlined icon">
                            online_prediction
                        </span>
                        Predict
                    </a>
                </li>
            </ul>

        </div>
    </nav>

    <div class="predict-dashboard" aria-expanded="false">
        <div class="main-title">
            <h1>Predict Productivity Rate</h1>
        </div>

        <div class="columns-container">
            
            <div class="sliders">
                
                    <form id="predictionForm" method="post">
                        {% csrf_token %}
                        <div class="slider_row">

                            <div class="slider_input">
                                <label for="team" class="slider_label">Team</label>
                                <input type="range" name="team" id="team" min="1" max="12" aria-expanded="false"
                                    required>
                                <span id="team-value" class="input_value"></span>
                            </div>
                        </div>
                        <div class="slider_row">

                            <div class="slider_input">
                                <label for="days" class="slider_label">Days</label>
                                <input type="range" name="days" id="days" min="1" max="7"
                                    aria-expanded="false" required>
                                <span id="days-value" class="input_value"></span>
                            </div>
                        </div>
                        <div class="slider_row">

                            <div class="slider_input">
                                <label for="quart" class="slider_label">Quart</label>
                                <input type="range" name="quart" id="quart" min="1" max="5" aria-expanded="false"
                                    required>
                                <span id="quart-value" class="input_value"></span>
                            </div>
                        </div>

                        <div class="slider_row">

                            <div class="slider_input">
                                <label for="dept" class="slider_label">Department</label>
                                <input type="range" name="dept" id="dept" min="0" max="1" aria-expanded="false"
                                    required>
                                <span id="dept-value" class="input_value"></span>
                            </div>
                        </div>

                        <div class="slider_row">

                            <div class="slider_input">
                                <label for="targeted_productivity" class="slider_label">Targeted Productivity</label>
                                <input type="range" name="targeted_productivity" id="targeted_productivity" min="0" max="1" step="any"
                                    aria-expanded="false" required>
                                <span id="targeted_productivity-value" class="input_value"></span>
                            </div>
                        </div>

                        <div class="slider_row">
                            <div class="slider_input">
                                <label for="smv" class="slider_label">SMV</label>
                                <input type="range" name="smv" id="smv" min="0" max="100"
                                    step="any" aria-expanded="false" required>
                                <span id="smv-value" class="input_value"></span>
                            </div>
                        </div>

                        <div class="slider_row">
                            <div class="slider_input">
                                <label for="wip" class="slider_label">WIP</label>
                                <input type="range" name="wip" id="wip" min="0" max="10000"
                                    step="any" aria-expanded="false" required>
                                <span id="wip-value" class="input_value"></span>
                            </div>
                        </div>
                        <div class="slider_row">
                            <div class="slider_input">
                                <label for="over_time" class="slider_label">Over Time </label>
                                <input type="range" name="over_time" id="over_time" min="0" max="10000" step="any"
                                    aria-expanded="false" required>
                                <span id="over_time-value" class="input_value"></span>
                            </div>
                        </div>

                        <div class="slider_row">
                            <div class="slider_input">
                                <label for="incentive" class="slider_label">Incentive</label>
                                <input type="range" name="incentive" id="incentive" min="0" max="100"
                                    aria-expanded="false" required>
                                <span id="incentive-value" class="input_value"></span>
                            </div>
                        </div>

                        <div class="slider_row">
                            <div class="slider_input">
                                <label for="idle_time" class="slider_label">Idle Time</label>
                                <input type="range" name="idle_time" id="idle_time" min="0" max="100" step="any"
                                    aria-expanded="false" required>
                                <span id="idle_time-value" class="input_value"></span>
                            </div>
                        </div>

                        <div class="slider_row">
                            <div class="slider_input">
                                <label for="idle_men" class="slider_label">Idle Men</label>
                                <input type="range" name="idle_men" id="idle_men" min="0" max="100" step="any"
                                    aria-expanded="false" required>
                                <span id="idle_men-value" class="input_value"></span>
                            </div>
                        </div>

                        <div class="slider_row">
                            <div class="slider_input">
                                <label for="no_of_style_change" class="slider_label">No. of Style Change</label>
                                <input type="range" name="no_of_style_change" id="no_of_style_change" min="0" max="100" step="any"
                                    aria-expanded="false" required>
                                <span id="no_of_style_change-value" class="input_value"></span>
                            </div>
                        </div>

                        <div class="slider_row">
                            <div class="slider_input">
                                <label for="no_of_workers" class="slider_label">No. of Workers</label>
                                <input type="range" name="no_of_workers" id="no_of_workers" min="0" max="100" step="any"
                                    aria-expanded="false" required>
                                <span id="no_of_workers-value" class="input_value"></span>
                            </div>
                        </div>
                    </form>
            </div>

            <div class="results" style="padding-top: 0px !important;">
                <div class="result_text" style="  margin: 0; position: absolute; top: 50%; left: 50%;-ms-transform: translate(-50%, -50%);transform: translate(-50%, -50%);"></div>
            </div>
        </div>
    </div>
    </div>
</body>

</html>

<script>
    const toggleButton = document.querySelector('.btn-toggle');
    const sidebar = document.querySelector('.sidebar'); // Assuming your sidebar has an ID of "sidebar"
    const main = document.querySelector(".predict-dashboard");
    const sliders = document.querySelectorAll('input[type="range"]');

    toggleButton.addEventListener('click', () => {
        const isExpanded = toggleButton.getAttribute('aria-expanded') === 'true';

        if (isExpanded) {
            toggleButton.setAttribute('aria-expanded', 'false');
            main.setAttribute('aria-expanded', 'false');
            sliders.forEach(slider => slider.setAttribute('aria-expanded', 'false'));
        } else {
            toggleButton.setAttribute('aria-expanded', 'true');
            main.setAttribute('aria-expanded', 'true');
            sliders.forEach(slider => slider.setAttribute('aria-expanded', 'true'));
        }

        sidebar.classList.toggle('collapsed');
    });
</script>

<script>
    // Function to format the value with six decimal places
    function formatValue(value) {
        return parseFloat(value).toFixed(2);
    }

    // Function to update value display when the slider is changed
    function updateValueDisplay(sliderId, valueDisplayId, inputType) {
        const slider = document.getElementById(sliderId);
        const valueDisplay = document.getElementById(valueDisplayId);

        if (slider && valueDisplay) {
            const value = parseFloat(slider.value);

            if (inputType === 'float') {
                // If the input type is 'float', display with six decimal places
                valueDisplay.textContent = formatValue(value);
            } else {
                // If the input type is 'int', round to the nearest whole number
                valueDisplay.textContent = Math.round(value);
            }
        }
    }

    // Add event listeners for each slider
    document.getElementById('team').addEventListener('input', function () {
        const inputType = 'int';
        updateValueDisplay('team', 'team-value', inputType);
    });

    document.getElementById('days').addEventListener('input', function () {
        const inputType = 'int';
        updateValueDisplay('days', 'days-value', inputType);
    });

    document.getElementById('quart').addEventListener('input', function () {
        const inputType = 'int';
        updateValueDisplay('quart', 'quart-value', inputType);
    });

    document.getElementById('dept').addEventListener('input', function () {
        const inputType = 'int';
        updateValueDisplay('dept', 'dept-value', inputType);
    });

    document.getElementById('targeted_productivity').addEventListener('input', function () {
        const inputType = 'float';
        updateValueDisplay('targeted_productivity', 'targeted_productivity-value', inputType);
    });

    document.getElementById('smv').addEventListener('input', function () {
        const inputType = 'float';
        updateValueDisplay('smv', 'smv-value', inputType);
    });

    document.getElementById('wip').addEventListener('input', function () {
        const inputType = 'float';
        updateValueDisplay('wip', 'wip-value', inputType);
    });

    document.getElementById('over_time').addEventListener('input', function () {
        const inputType = 'float';
        updateValueDisplay('over_time', 'over_time-value', inputType);
    });

    document.getElementById('incentive').addEventListener('input', function () {
        const inputType = 'int';
        updateValueDisplay('incentive', 'incentive-value', inputType);
    });

    document.getElementById('idle_time').addEventListener('input', function () {
        const inputType = 'float';
        updateValueDisplay('idle_time', 'idle_time-value', inputType);
    });

    document.getElementById('idle_men').addEventListener('input', function () {
        const inputType = 'float';
        updateValueDisplay('idle_men', 'idle_men-value', inputType);
    });

    document.getElementById('no_of_style_change').addEventListener('input', function () {
        const inputType = 'float';
        updateValueDisplay('no_of_style_change', 'no_of_style_change-value', inputType);
    });

    document.getElementById('no_of_workers').addEventListener('input', function () {
        const inputType = 'float';
        updateValueDisplay('no_of_workers', 'no_of_workers-value', inputType);
    });

</script>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script>
    $(document).ready(function () {
        // Function to update the result on the page
        function updateResult(predictedLabel) {
            // Your existing logic to update the result
            // ...

            // Update the result section
            $('.result_text').html("The productivity rate of the workers is: <strong style='color: white !important;'>" + predictedLabel + "</strong>");
        }

        // Submit the form using AJAX when sliders change
        $('form').on('input', function (e) {
            e.preventDefault();  // Prevent the default form submission

            // Serialize the form data
            var formData = $(this).serialize();

            // Make an AJAX POST request
            $.ajax({
                type: 'POST',
                url: '/postPredict_reg/',
                data: formData,
                headers: { 'X-CSRFToken': $('input[name=csrfmiddlewaretoken]').val() },
                success: function (data) {
                    // Update the result on success
                    console.log(data)
                    updateResult(data.predicted_label);
                },
                error: function (error) {
                    console.error('Error:', error);
                }
            });
        });
    });
</script>