{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Classify Rice</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/sidebars.css' %}" />
    <script src="{% static 'js/bootstrap.bundle.min.js'%}"></script>

    <style>
        body {
            background: linear-gradient(to right, #329CCE, rgb(189, 185, 104));
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
    </style>
</head>

<body>
    <header class="p-3 mb-3 border-bottom header">
        <div class="container-fluid d-grid gap-3 d-flex flex-wrap align-items-center justify-content-center"
            style="grid-template-columns: 1fr 2fr;">
            <p class="nav col-12 col-lg-auto me-lg-auto mb-2 mb-lg-0 justify-content-center mb-md-0 nav-link px-2 link-body-emphasis centeredp"
                style="color: #CFE3EB !important; padding-left:50px !important;font-size: 20px !important;">
                Rice Classifier (Cammeo and Osmancik)
            </p>

            <div class="dropdown text-end">
                <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle"
                    data-bs-toggle="dropdown" aria-expanded="false" style="color: #CFE3EB !important; font-size: 20px;">
                    <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
                    User Profile
                </a>
                <ul class="dropdown-menu text-small">
                    <li><a class="dropdown-item" href="{% url 'home_reg' %}">Regression</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="{% url 'logout' %}" id="logout">Sign out</a></li>
                </ul>
            </div>

        </div>
        </div>
    </header>

    <nav class="col-3">
        <button class="btn btn-toggle" type="button" aria-expanded="false" style="color: #333 !important;">
            <span class="material-symbols-outlined">menu</span>
        </button>

        <div class="d-flex flex-column flex-shrink-0 p-3 sidebar" style="width: 280px;">

            <ul class="nav nav-pills flex-column mb-auto items">
                <li class="nav-item" style="margin-top: 30% !important;">
                    <a href="{% url 'home_class' %}" class="nav-link" aria-current="page"
                        style="font-family: 'Poppins' !important;color: #333 !important;">
                        <span class="material-symbols-outlined icon">
                            home
                        </span>
                        Home
                    </a>
                </li>
                <li>
                    <a href="{% url 'eda' %}" class="nav-link text-white"
                        style="font-family: 'Poppins' !important;color: #333 !important;">
                        <span class="material-symbols-outlined icon">
                            monitoring</span>
                        EDA
                    </a>
                </li>
                <li>
                    <a href="{% url 'train' %}" class="nav-link text-white"
                        style="font-family: 'Poppins' !important;color: #333 !important;">
                        <span class="material-symbols-outlined icon">
                            model_training</span>
                        Train
                    </a>
                </li>
                <li>
                    <a href="{% url 'predict' %}" class="nav-link text-white"
                        style="font-family: 'Poppins' !important;color: #333 !important;">
                        <span class="material-symbols-outlined icon">
                            online_prediction
                        </span>
                        Predict
                    </a>
                </li>
            </ul>

        </div>
    </nav>


    <div class="predict-dashboard" aria-expanded="false">
        <div class="main-title">
            <h1>Rice Classifier</h1>
        </div>

        <div class="columns-container">

            <div class="sliders">

                <form id="predictionForm" method="post">
                    {% csrf_token %}
                    <div class="slider_row">

                        <div class="slider_input">
                            <label for="area" class="slider_label">Area</label>
                            <input type="range" name="area" id="area" min="5000" max="20000" aria-expanded="false"
                                required>
                            <span id="area-value" class="input_value"></span>
                        </div>
                    </div>
                    <div class="slider_row">

                        <div class="slider_input">
                            <label for="perimeter" class="slider_label">Perimeter</label>
                            <input type="range" name="perimeter" id="perimeter" min="100" max="1000" step="any"
                                aria-expanded="false" required>
                            <span id="perimeter-value" class="input_value"></span>
                        </div>
                    </div>

                    <div class="slider_row">
                        <div class="slider_input">
                            <label for="major_axis_length" class="slider_label">Major Axis Length</label>
                            <input type="range" name="major_axis_length" id="major_axis_length" min="100" max="500"
                                step="any" aria-expanded="false" required>
                            <span id="major_axis_length-value" class="input_value"></span>
                        </div>
                    </div>

                    <div class="slider_row">
                        <div class="slider_input">
                            <label for="minor_axis_length" class="slider_label">Minor Axis Length</label>
                            <input type="range" name="minor_axis_length" id="minor_axis_length" min="50" max="200"
                                step="any" aria-expanded="false" required>
                            <span id="minor_axis_length-value" class="input_value"></span>
                        </div>
                    </div>
                    <div class="slider_row">
                        <div class="slider_input">
                            <label for="eccentricity" class="slider_label">Eccentricity </label>
                            <input type="range" name="eccentricity" id="eccentricity" min="0" max="1" step="any"
                                aria-expanded="false" required>
                            <span id="eccentricity-value" class="input_value"></span>
                        </div>
                    </div>

                    <div class="slider_row">
                        <div class="slider_input">
                            <label for="convex_area" class="slider_label">Convex Area</label>
                            <input type="range" name="convex_area" id="convex_area" min="5000" max="20000"
                                aria-expanded="false" required>
                            <span id="convex_area-value" class="input_value"></span>
                        </div>
                    </div>

                    <div class="slider_row">
                        <div class="slider_input">
                            <label for="extent" class="slider_label">Extent</label>
                            <input type="range" name="extent" id="extent" min="0" max="1" step="any"
                                aria-expanded="false" required>
                            <span id="extent-value" class="input_value"></span>
                        </div>
                    </div>
                </form>
            </div>

            <div class="results">
                <div class="result_text"></div>
                <img class="result_img">
            </div>
        </div>
    </div>
    </div>
</body>

</html>

<script>
    const toggleButton = document.querySelector('.btn-toggle');
    const sidebar = document.querySelector('.sidebar'); // Assuming your sidebar has an ID of "sidebar"
    const main = document.querySelector(".predict-dashboard");
    const sliders = document.querySelectorAll('input[type="range"]');

    toggleButton.addEventListener('click', () => {
        const isExpanded = toggleButton.getAttribute('aria-expanded') === 'true';

        if (isExpanded) {
            toggleButton.setAttribute('aria-expanded', 'false');
            main.setAttribute('aria-expanded', 'false');
            sliders.forEach(slider => slider.setAttribute('aria-expanded', 'false'));
        } else {
            toggleButton.setAttribute('aria-expanded', 'true');
            main.setAttribute('aria-expanded', 'true');
            sliders.forEach(slider => slider.setAttribute('aria-expanded', 'true'));
        }

        sidebar.classList.toggle('collapsed');
    });
</script>

<script>
    // Function to format the value with six decimal places
    function formatValue(value) {
        return parseFloat(value).toFixed(6);
    }

    // Function to update value display when the slider is changed
    function updateValueDisplay(sliderId, valueDisplayId, inputType) {
        const slider = document.getElementById(sliderId);
        const valueDisplay = document.getElementById(valueDisplayId);

        if (slider && valueDisplay) {
            const value = parseFloat(slider.value);

            if (inputType === 'float') {
                // If the input type is 'float', display with six decimal places
                valueDisplay.textContent = formatValue(value);
            } else {
                // If the input type is 'int', round to the nearest whole number
                valueDisplay.textContent = Math.round(value);
            }
        }
    }

    // Add event listeners for each slider
    document.getElementById('area').addEventListener('input', function () {
        const inputType = 'int';
        updateValueDisplay('area', 'area-value', inputType);
    });

    document.getElementById('perimeter').addEventListener('input', function () {
        const inputType = 'float';
        updateValueDisplay('perimeter', 'perimeter-value', inputType);
    });

    document.getElementById('major_axis_length').addEventListener('input', function () {
        const inputType = 'float';
        updateValueDisplay('major_axis_length', 'major_axis_length-value', inputType);
    });

    document.getElementById('minor_axis_length').addEventListener('input', function () {
        const inputType = 'float';
        updateValueDisplay('minor_axis_length', 'minor_axis_length-value', inputType);
    });

    document.getElementById('eccentricity').addEventListener('input', function () {
        const inputType = 'float';
        updateValueDisplay('eccentricity', 'eccentricity-value', inputType);
    });

    document.getElementById('convex_area').addEventListener('input', function () {
        const inputType = 'int';
        updateValueDisplay('convex_area', 'convex_area-value', inputType);
    });

    document.getElementById('extent').addEventListener('input', function () {
        const inputType = 'float';
        updateValueDisplay('extent', 'extent-value', inputType);
    });

</script>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script>
    $(document).ready(function () {
        // Function to update the result on the page
        function updateResult(predictedLabel) {
            // Your existing logic to update the result
            // ...

            // Update the result section
            $('.result_text').html("The type of rice described by the attributes is: <strong style='color: white !important;'>" + predictedLabel + "</strong>");


            // Show the corresponding image
            if (predictedLabel === 'Cammeo') {
                $('.result_img').attr('src', '{% static "image/cammeo.png" %}');
            } else if (predictedLabel === 'Osmancik') {
                $('.result_img').attr('src', '{% static "image/osmancik.png" %}');
            }
        }

        // Submit the form using AJAX when sliders change
        $('form').on('input', function (e) {
            e.preventDefault();  // Prevent the default form submission

            // Serialize the form data
            var formData = $(this).serialize();

            // Make an AJAX POST request
            $.ajax({
                type: 'POST',
                url: '/postPredict/',
                data: formData,
                headers: { 'X-CSRFToken': $('input[name=csrfmiddlewaretoken]').val() },
                success: function (data) {
                    // Update the result on success
                    console.log(data)
                    updateResult(data.predicted_label);
                    console.log("class:" + data.predicted_label)
                },
                error: function (error) {
                    console.error('Error:', error);
                }
            });
        });
    });
</script>