{% extends 'base.html' %}


{% block title %}Login{% endblock %}

{% block content %} 
{% if success %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const alertMessage = document.getElementById('alert-message');
        const customAlert = document.getElementById('custom-alert');

        if (alertMessage && customAlert) {
            alertMessage.innerText = "{{ success }}";
            customAlert.classList.add('show'); // Add a class to handle visibility
        }
    });

    function closeAlert() {
        const customAlert = document.getElementById('custom-alert');

        if (customAlert) {
            customAlert.classList.remove('show'); // Remove the class to hide the alert
        }
    }
</script>
{% endif %}
{% if message %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const alertMessage = document.getElementById('alert-message-danger');
        const customAlert = document.getElementById('custom-alert-danger');

        if (alertMessage && customAlert) {
            alertMessage.innerText = "{{ message }}";
            customAlert.classList.add('show'); // Add a class to handle visibility
        }
    });

    function closeAlert() {
        const customAlert = document.getElementById('custom-alert-danger');

        if (customAlert) {
            customAlert.classList.remove('show'); // Remove the class to hide the alert
        }
    }
</script>
{% endif %}

<div class="container">
    <form action="/postSignIn/" method="post">
        <h1>Login</h1>
        
        <div class="input">
            {% csrf_token %}
            <!-- Username Field -->
            <div class="input">
                <input type="text" name="email" id="email" placeholder=""required>
                <label for="email" class="floating-label">
                    Email</label>
                    <span class="material-icons">person</span>   
            </div>

            <!-- Password Field -->
            <div class="input">
                <input type="password" name="password" id="password" placeholder="" required>
                <label for="password" class="floating-label">
                    Password
                </label>
                <span class="material-icons">lock</span>
            </div>
            <button type="submit" style="margin-top: 50px;">Login</button>
            <p class=".register-link">No account? <a href=/newuser>Sign up</a></p>
        </div>
    </form>
    <div id="custom-alert" class="alert-container">
        {% load static %}
        <center><span class="material-symbols-outlined done" style="color: #329CCE; font-size: 100px; font-weight: bolder;">
            done
        </span></center>
        <p id="alert-message"></p>
        <span class="close-btn" onclick="closeAlert()">×</span>
    </div>
    <div id="custom-alert-danger" class="alert-container">
        {% load static %}
        <center><img src="{% static 'image/danger.png' %}" class="danger"></center>
        <p id="alert-message-danger"></p>
        <span class="close-btn" onclick="closeAlert()">×</span>
    </div>
</div>
{% endblock %}